<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCptOypIm2XS64B2hb87CLjprSp3cWb7cw</string>
	<key>GCM_SENDER_ID</key>
	<string>975713930548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.languageApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>languageapp-4d04e</string>
	<key>STORAGE_BUCKET</key>
	<string>languageapp-4d04e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975713930548:ios:acef93fe57e4a05228a961</string>
</dict>
</plist>